# How to Easily Create Tables in Python

Source code from Medium's article [How to Easily Create Tables in Python](https://towardsdatascience.com/how-to-easily-create-tables-in-python-2eaea447d8fd) written by [Luay Matalka](https://medium.com/@lmatalka90).

## Importing libraries

In [1]:
from tabulate import tabulate

## List of lists

In [2]:
table = [['First Nme', 'Last Name', 'Age'], 
         ['John', 'Smith', 39],
         ['Mary', 'Jane', 25],
         ['Jennifer', 'Doe', 28]]

print(tabulate(table))

---------  ---------  ---
First Nme  Last Name  Age
John       Smith      39
Mary       Jane       25
Jennifer   Doe        28
---------  ---------  ---

In [3]:
print(tabulate(table, headers='firstrow'))

First Nme    Last Name      Age
-----------  -----------  -----
John         Smith           39
Mary         Jane            25
Jennifer     Doe             28

In [4]:
print(tabulate(table, headers='firstrow', tablefmt='grid'))

+-------------+-------------+-------+
| First Nme   | Last Name   |   Age |
+=============+=============+=======+
| John        | Smith       |    39 |
+-------------+-------------+-------+
| Mary        | Jane        |    25 |
+-------------+-------------+-------+
| Jennifer    | Doe         |    28 |
+-------------+-------------+-------+

In [5]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒═════════════╤═════════════╤═══════╕
│ First Nme   │ Last Name   │   Age │
╞═════════════╪═════════════╪═══════╡
│ John        │ Smith       │    39 │
├─────────────┼─────────────┼───────┤
│ Mary        │ Jane        │    25 │
├─────────────┼─────────────┼───────┤
│ Jennifer    │ Doe         │    28 │
╘═════════════╧═════════════╧═══════╛

## Dictionary of iterables

In [7]:
info = {"First Name": ['John', 'Mary', 'Jennifer'],
        "Last Name": ['Smith', 'Jane', 'Doe'],
        "Age": [39, 25, 28]}

print(tabulate(info, headers='keys'))

First Name    Last Name      Age
------------  -----------  -----
John          Smith           39
Mary          Jane            25
Jennifer      Doe             28

In [8]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ Jennifer     │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

## Adding an index

In [9]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid', showindex=True))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  0 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  1 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

In [10]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid', showindex=range(1, 4)))

╒════╤══════════════╤═════════════╤═══════╕
│    │ First Name   │ Last Name   │   Age │
╞════╪══════════════╪═════════════╪═══════╡
│  1 │ John         │ Smith       │    39 │
├────┼──────────────┼─────────────┼───────┤
│  2 │ Mary         │ Jane        │    25 │
├────┼──────────────┼─────────────┼───────┤
│  3 │ Jennifer     │ Doe         │    28 │
╘════╧══════════════╧═════════════╧═══════╛

## Missing values

In [12]:
info = {"First Name": ['John', 'Mary'],
        "Last Name": ['Smith', 'Jane', 'Doe'],
        "Age": [39, 25, 28]}

print(tabulate(info, headers='keys', tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│              │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

In [13]:
print(tabulate(info, headers='keys', tablefmt='fancy_grid', missingval='N/A'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ N/A          │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛