# 6 Cool Python Tricks You Should Know

Source code from Medium's article: [6 Cool Python Tricks You Should Know](https://towardsdatascience.com/6-cool-python-tricks-you-should-know-bab1b6a42446) written by [Soner Yıldırım](https://sonery.medium.com/).

## 1. Slices

In [1]:
s = slice(3, 6)

lst = [1, 3, 'a', 'b', 5, 11, 16]
text = 'DataScience'
tpl = (1, 2, 3, 4, 5, 6, 7)

In [2]:
print(lst[s])

['b', 5, 11]

In [3]:
print(text[s])

aSc

In [4]:
print(tpl[s])

(4, 5, 6)

## 2. Swapping variables

In [5]:
a = 'John'
b = 'Emily'

c = a
a = b
b = c

print(a)
print(b)

Emily
John

In [6]:
a = 20
b = 50

a, b = b, a

print(a)
print(b)

50
20

## 3. Sorting a list of lists

In [2]:
lst = [[2, 7], [7, 3], [3, 8], [8, 7], [9, 7], [4, 9]]

### Sort list on the second item

In [3]:
lst.sort(key=lambda inner:inner[1])

print(lst)

[[7, 3], [2, 7], [8, 7], [9, 7], [3, 8], [4, 9]]

In [4]:
lst.sort(key=lambda inner:inner[0])

print(lst)

[[2, 7], [3, 8], [4, 9], [7, 3], [8, 7], [9, 7]]

## 4. Argument unpacking

In [5]:
def mult(a, b, c):

    return a * b * c

mult(2, 3, 4)

24

In [16]:
def mult(*args):

    result = 1

    for i in args:

        result *= i

    return result

In [20]:
print(mult(2, 3))
print(mult(2, 3, 4))
print(mult(2, 3, 4, 5))

6
24
120

## 5. Decompose a collection

In [21]:
tpl = (1, 2)

x = tpl[0]
y = tpl[1]

print(x, y)

1 2

In [22]:
x, y = tpl

print(x, y)

1 2

In [23]:
x, y, z = {1, 2, 3}

print(x, y, z)

1 2 3

In [24]:
x, y, z = ['a', 'b', 'c']

print(x, y, z)

a b c

## 6. F strings

In [25]:
name = 'John'
age = 15

print("{} is {} years old.".format(name, age))

John is 15 years old

In [26]:
print(f"{name} is {age} years old.")

John is 15 years old.