# Two Cool Functions To Know in Python

Source code from Medium's article [Two Cool Functions To Know in Python](https://towardsdatascience.com/two-cool-functions-to-know-in-python-7c36da49f884), written by [Luay Matalka](https://medium.com/@lmatalka90).

## Import libraries

In [1]:
from tabulate import tabulate

from tqdm import tqdm

# TODO: Find correct syntax for this import
#
#from tqdm.notebook import tqdm as tqdm2

In [2]:
table = [['First Nme', 'Last Name', 'Age'], 
         ['John', 'Smith', 39],
         ['Mary', 'Jane', 25],
         ['Jennifer', 'Doe', 28]]

print(tabulate(table))

---------  ---------  ---
First Nme  Last Name  Age
John       Smith      39
Mary       Jane       25
Jennifer   Doe        28
---------  ---------  ---

In [3]:
print(tabulate(table, headers='firstrow'))

First Nme    Last Name      Age
-----------  -----------  -----
John         Smith           39
Mary         Jane            25
Jennifer     Doe             28

In [4]:
print(tabulate(table, headers='firstrow', tablefmt='fancy_grid'))

╒═════════════╤═════════════╤═══════╕
│ First Nme   │ Last Name   │   Age │
╞═════════════╪═════════════╪═══════╡
│ John        │ Smith       │    39 │
├─────────────┼─────────────┼───────┤
│ Mary        │ Jane        │    25 │
├─────────────┼─────────────┼───────┤
│ Jennifer    │ Doe         │    28 │
╘═════════════╧═════════════╧═══════╛

In [5]:
info = {"First Name": ['John', 'Mary', 'Jennifer'],
        "Last Name": ['Smith', 'Jane', 'Doe'],
        "Age": [39, 25, 28]}

print(tabulate(info, headers='keys', tablefmt='fancy_grid'))

╒══════════════╤═════════════╤═══════╕
│ First Name   │ Last Name   │   Age │
╞══════════════╪═════════════╪═══════╡
│ John         │ Smith       │    39 │
├──────────────┼─────────────┼───────┤
│ Mary         │ Jane        │    25 │
├──────────────┼─────────────┼───────┤
│ Jennifer     │ Doe         │    28 │
╘══════════════╧═════════════╧═══════╛

## Display progress bar using tqdm

In [6]:
for x in tqdm(range(100000000)):

    pass

100%|██████████| 100000000/100000000 [00:40<00:00, 2457316.33it/s]

In [9]:
# TODO: Find correct syntax for this example
#
#add(num):
#
#   return reduce(lambda x, y: x + y, tqdm2(range(num + 1))) if type(num) == int else 0