# The use of list, dictionary and set comprehensions to shorten your code

Source code from Medium's article ["The use of list, dictionary and set comprehensions to shorten your code"](https://towardsdatascience.com/the-use-of-list-dictionary-and-set-comprehensions-to-shorten-your-code-66e6dfeaae13), written by [Philip Wilkinson](https://towardsdatascience.com/@pip.wilkinson97).

In [20]:
import random

## Lists

In [1]:
list1 = [1, 2, 3, "hello", 7.0, 52]

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
nums = []

for i in range(1, 51):

    nums.append(i)

print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [4]:
nums = [i for i in range(1, 51)]

print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [5]:
square_nums = []

for x in range( 1, 26):

    if x % 2 == 0:

        square_nums.append(x**2)

print(square_nums)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576]

In [6]:
square_nums = [x**2 for x in range(1, 26) if x % 2 == 0]

print(square_nums)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576]

## Dictionaries

In [7]:
Grades = {
    
    "Steven": 57,
    "Jessica": 82,
    "William": 42,
    "Hussein": 78,
    "Mary": 65   
}

print(Grades)

{'Steven': 57, 'Jessica': 82, 'William': 42, 'Hussein': 78, 'Mary': 65}

In [8]:
# Initialising empty dict
even_squared_dict = {}

for x in range( 1, 10):

    if x % 2 == 0:

        even_squared_dict[x] = x**2

print(even_squared_dict)

{2: 4, 4: 16, 6: 36, 8: 64}

In [9]:
even_squared_dict = {x: x**2 for x in range(1, 10) if x % 2 == 0}

print(even_squared_dict)

{2: 4, 4: 16, 6: 36, 8: 64}

In [10]:
ThreeCharCodes = ["CAN", "FIN", "FRA", "GAB", "HKG", "IMN"
                  "MCO", "NPL"]

cntryDict = {c: c[:2] for c in ThreeCharCodes}

print(cntryDict)

{'CAN': 'CA', 'FIN': 'FI', 'FRA': 'FR', 'GAB': 'GA', 'HKG': 'HK', 'IMNMCO': 'IM', 'NPL': 'NP'}

## Sets

In [19]:
Fruits1 = set(["apple", "banana", "cherry", "peach"])
print(Fruits1)

Fruits2 = {"orange", "pear", "grape", "pear"}
print(Fruits2)

{'banana', 'cherry', 'peach', 'apple'}
{'pear', 'orange', 'grape'}

In [21]:
nums = set([])

for x in range(25):

    y = random.randint(10, 20)
    nums.add(y)

print(nums)

{10, 11, 12, 13, 14, 15, 16, 20}

In [22]:
nums = {random.randint(10, 20) for num in range(25)}

print(nums)

{10, 11, 12, 13, 14, 15, 17, 19, 20}

In [23]:
kms = [10, 12, 65, 40, 12, 75, 34, 65, 10, 10, 38, 100, 160, 200]

miles = {d/1.6 for d in kms if d < 100}

print(miles)

{6.25, 7.5, 40.625, 46.875, 21.25, 23.75, 25.0}